/* For profile Modal */

.profile__modal {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: white;
  max-height: 600px;
  overflow-y: scroll;
}
.profile__modal > img {
  margin-bottom: -100px;
  width: 100%;
  height: 210px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.profile__modal > .MuiAvatar-root {
  margin-left: 20px;
  width: 170px;
  height: 170px;
  border: 2px solid rgb(255, 255, 255);
  justify-content: left;
}

.profile__stats {
  padding: 10px;
  margin-bottom: 10px;
}

.profile__stat {
  padding-left: 20px;
  margin-top: 10px;
  display: flex;
  /* justify-content: space-between; */
}

.profile__stat_connections {
  padding-left: 20px;
  display: flex;
  color: #0c66c2;
  font-weight: bold;
}

#firstName,
#lastName,
#headLine,
#country,
#location,
#industry {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Lucida Grande, Helvetica, Arial, sans-serif;
  font-weight: normal;
}
