.network {
  flex: 0.5;
  margin: 45px 20px;
  width: 100%;
}

.network__inputContainer {
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 20px; 
}
.upper_network__inputContainer {
  background-color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  max-height: 100%;
  margin-bottom: -10px;
}
